name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

jobs:
  detekt:
    name: Detekt
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4

      - uses: open-turo/action-git-auth@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up tools
        uses: open-turo/action-setup-tools@v1

      - name: Setup detekt
        uses: peter-murray/setup-detekt@v2
        with:
          detekt_version: 1.23.8

      - uses: open-turo/action-pre-commit@v2

  lint:
    name: Lint
    runs-on: [ubuntu-latest]
    needs: detekt
    steps:
      - uses: open-turo/actions-jvm/lint@v1
        with:
          checkout-repo: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Test
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "8.11.1"
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: Unit tests
        run: ./gradlew tests:test
