name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: [ubuntu-latest]
    steps:
      - uses: open-turo/actions-jvm/lint@v2
        with:
          checkout-repo: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: checkout
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: open-turo/action-setup-tools@v3

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Android lint
        run: ./gradlew lintDebug

  build:
    name: Build
    runs-on: [ubuntu-latest]
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: open-turo/action-setup-tools@v3

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build debug
        run: ./gradlew assembleDebug

  test:
    name: Test
    runs-on: [ubuntu-latest]
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: open-turo/action-setup-tools@v3

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Test
        uses: open-turo/actions-jvm/test@v2
        with:
          checkout-repo: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          gradle-task: tests:test
